## Ignore backups, if any
backups/*

## Vim
.vim.symlink/.netrwhist
.vim.symlink/spell

## Spacevim
.SpaceVim.d.symlink/.netrwhist

## Fish
.config/fish.symlink/fish_history
.config/fish.symlink/fishd*
.config/fish_variables
