# Bash files
bash:
.bashrc bash/config
.bash_aliases bash/aliases
.bash_profile bash/profile
.bash_logout bash/logout

# Liquidprompt
liquidprompt:
.liquidprompt liquidprompt
.liquidpromptrc liquidprompt/config

# Vim files
vim:
.vim vim
.vimrc vim/config/main.vim

gvim:
.gvim gvim
.gvimrc gvim/gvimrc

# Abcde
abcde:
.abcde.conf abcde/abcde.conf
