# Bash files
bash:
.bashrc bash/bashrc
.bash_aliases bash/aliases

# Liquidprompt
liquidprompt:
.liquidprompt liquidprompt
.liquidpromptrc liquidprompt/config

# Vim files
vim:
.vim vim
.vimrc vim/config/main.vim

gvim:
.gvimrc gvim/gvimrc

# Abcde
abcde:
.abcde.conf abcde/abcde.conf
